*.o
*.exe

server
client
server_gui_server
test_c
test_s
test_server
test_client

tests/test_game
tests/flow_demo
tests/test_protocol
tests/test_game_flow
tests/test_system
tests/test_unit

.nfs*
build/
bin/
